.image{
    height: 500px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #6666663d;
    transition: border-color 0.3s ease-in-out;
}
.portfolio-item:hover  .image{
   border-color: #28e98c;
    box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.25);
    transition: border-color 0.3s ease-in-out;
}
.project-heading{
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.project-description{
    color: #8c8c8c;
}